<%- include("./partials/header") %>

    <!-- Landing start -->
    <section class="landing position-relative mb-3">
        <%- include("./partials/navbar") %>
    </section>

    <div class="women-banner conatiner mx-3 mb-3">
        <img src="/images/women/winter.jpg" alt="banner-img" class="img-fluid" />
    </div>

    <div class="main container-fluid my-5">
        <div class="row pt-4">
            <div class="col-8 col-md-9 d-flex justify-content-center justify-content-lg-between flex-wrap gap-3">
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src=" <%= foundProduct.images[0].url %> " alt="" class="card-img-top" alt="...">
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">Brand name: <%= foundProduct.brandName %>
                        </h4>
                        <h5 class="text-muted col-12 ps-3">Type: <%= foundProduct.type %>
                        </h5>
                        <p class="details-product col-12 ps-3">
                            <%= foundProduct.description %>
                        </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span>
                            <del>EG <%= foundProduct.price %>
                            </del>
                        </h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include("./partials/footer") %>