<%- include("./partials/header") %>
    <!-- Landing start -->
    <section class="landing position-relative mb-lg-3">
        <%- include("./partials/navbar") %>
    </section>

    <div class="women-banner conatiner mx-3 mb-3">
        <img src="/images/women/winter.jpg" alt="banner-img" class="img-fluid" />
    </div>

    <div class="main container-fluid my-5">
        <div class="row pt-4">
            <div class="col-4 col-md-3 ps-3 flex-sm-column flex-row">
                <ul class="d-flex flex-sm-column flex-row align-items-stretch justify-content-center mb-2 ps-2">
                    <li>
                        <i class="fa-solid fa-house pe-3 fs-5"></i> <a href="/">Home</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-dress pe-3 fs-4"></i>
                        <a href="/women">Women shoes</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person pe-3 fs-4"></i>
                        <a href="/men">Men shirts</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person pe-3 fs-4"></i>
                        <a href="/men">Men shoes</a>
                    </li>
                </ul>
                <hr />
                <div class="filter px-3 my-1 py-2 d-flex">
                    <h4>Filters</h4>
                </div>
                <hr />
                <form action="/women" method="post">
                    <div class="list d-flex justify-content-between align-items-center my-1 flex-column">
                        <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                            <h4 class="type fs-6 ">Type</h4>
                            <span class="Arrow_down "><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                        <div class="Filter_by d-flex align-items-start justify-content-between flex-column">
                            <div class="option d-flex align-items-center justify-content-start  ">
                                <input type="radio" value="shirts" name="type" id="check_filters">
                                <label for="shirts" class="type_name">Shirts</label>

                            </div>
                            <div class="option d-flex align-items-center justify-content-start ">
                                <input type="radio" value="shoes" name="type" id="check_filter">
                                <label for="shoes" class="type_name">Shoes</label>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                        <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                            <h4 class="Brand fs-6 ">Brand</h4>
                            <span class="Arrow_down "><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                        <div class="Filter_by d-flex align-items-start justify-content-between  flex-column">
                            <div class="option d-flex align-items-center justify-content-start ">
                                <input value="nike" name="brand" type="checkbox">
                                <label class="type_name">Nike</label>
                            </div>
                            <div class="option d-flex align-items-center justify-content-start ">
                                <input value="adidas" name="brand" type="checkbox">
                                <label class="type_name">Adidas</label>
                            </div>
                            <div class="option d-flex align-items-center justify-content-start ">
                                <input value="puma" name="brand" type="checkbox">
                                <label class="type_name">Puma</label>
                            </div>
                            <div class="option d-flex align-items-center justify-content-start ">
                                <input value="lcw" name="brand" type="checkbox">
                                <label class="type_name">LCW</label>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                        <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                            <h4 class="Price fs-6 ">Price</h4>
                            <span class="Arrow_down "><i class="fa-solid fa-angle-down "></i></span>
                        </div>
                        <div class="Filter_by d-flex align-items-start justify-content-between  flex-column">
                            <div class="option d-flex align-items-center justify-content-start flex-column  ">
                                <div class="price-range">
                                    <input value="0" name="lower" type="range" min="0" max="10000" id="lower">
                                    <input value="10000" name="max" type="range" min="0" max="10000" id="max">
                                </div>
                                <div class="filter_view d-flex align-items-center justif-content-between">
                                    <span class="Filtter-price  d-flex">FILTER</span>
                                    <span class="view-price  d-flex" id="min_value"></span>
                                    <span class="view-price_max d-flex" id="max_value"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                        <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                            <h4 class="color fs-6 ">color</h4>
                            <span class="Arrow_down "><i class="fa-solid fa-angle-down  "></i></span>
                        </div>
                        <div class="Filter_by d-flex align-items-start justify-content-between  flex-column">
                            <div class="option d-flex align-items-center justify-content-start  ">
                                <input type="color" id="color_picker">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Search</button>
                </form>
                <hr />
            </div>
            <div class="col-8 col-md-9 d-flex justify-content-center justify-content-lg-between flex-wrap gap-3">
                <% for(let product of products) { %>
                    <a href="/women/<%= product.id %> ">
                        <div class="product-card col-3 d-flex flex-column ">
                            <div class="img-section col-12">
                                <img src=" <%= product.images[0].url%> " alt="" class="card-img-top" alt="...">
                            </div>
                            <div class="description-product">
                                <h4 class="Brand-name col-12 ps-3">Brand name: <%= product.brandName %>
                                </h4>
                                <h5 class="text-muted col-12 ps-3">Type: <%= product.type %>
                                </h5>
                                <p class="details-product col-12 ps-3">
                                    <%= product.description %>
                                </p>
                                <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span>
                                    <del>EG <%= product.price %>
                                    </del>
                                </h6>
                            </div>
                            <div class="BTn-section d-flex align-items-center justify-content-between">
                                <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                                <span class="buy-now d-flex col-5">Buy Now</span>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
            <!-- <div class="col-8 col-md-9 d-flex justify-content-center justify-content-lg-between flex-wrap gap-3">
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/2.png" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">Brand name: xyz</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/6.jfif" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">Brand name: xyz</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/4.jfif" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">Gucci</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/8.jfif" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">zara</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/7.jfif" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">zara</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
                <div class="product-card col-3 d-flex flex-column ">
                    <div class="img-section col-12">
                        <img src="./images/women/products/9.jfif" class="card-img-top" alt="..." />
                    </div>
                    <div class="description-product">
                        <h4 class="Brand-name col-12 ps-3">zara</h4>
                        <h5 class="text-muted col-12 ps-3">Type: shirt</h5>
                        <p class="details-product col-12 ps-3">Some quick example text to build on the card title and
                            make up the bulk of the card's content. </p>
                        <h6 class="product-price col-12 ps-3"><span class="new-price me-4">EG 300</span><del>EG
                                250</del></h6>
                    </div>
                    <div class="BTn-section d-flex align-items-center justify-content-between">
                        <span class="add-to-cart d-flex col-5 ">Add To cart</span>
                        <span class="buy-now d-flex col-5">Buy Now</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <%- include("./partials/footer") %>